*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-height: 100%; }

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  height: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none;
  font-family: inherit; }

ul,
li {
  list-style: none; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }
  @media screen and (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media screen and (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; }

.grid-3 {
  grid-template-columns: repeat(3, 1fr); }

.text-center {
  text-align: center; }

.intro-text {
  max-width: 64rem;
  margin: 0 auto; }
  @media screen and (max-width: 576px) {
    .intro-text p {
      font-size: 1.7rem; } }

.text-gray {
  color: #4c545d; }

.text-gray-300 {
  color: #9fabb2; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.m-5 {
  margin: 5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.ml-1 {
  margin-left: 0.5rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.my-5 {
  margin: 5rem 0; }

.mx-1 {
  margin: 0 1rem; }

.mx-2 {
  margin: 0 2rem; }

.mx-3 {
  margin: 0 3rem; }

.mx-4 {
  margin: 0 4rem; }

.mx-5 {
  margin: 0 5rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.p-5 {
  padding: 5rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.py-5 {
  padding: 5rem 0; }

.px-1 {
  padding: 0 1rem; }

.px-2 {
  padding: 0 2rem; }

.px-3 {
  padding: 0 3rem; }

.px-4 {
  padding: 0 4rem; }

.px-5 {
  padding: 0 5rem; }

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
  color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  transition: opacity 0.2s ease; }

.btn-primary {
  background-color: #6173ff;
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(97, 115, 255, 0.2); }
  .btn-primary:hover {
    opacity: 0.9; }

.btn-success {
  background-color: #26baa4;
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(38, 186, 164, 0.2); }
  .btn-success:hover {
    opacity: 0.9; }

.cta-buttons {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 457px) {
    .cta-buttons {
      flex-direction: column;
      align-items: center; } }
  .cta-buttons .btn {
    margin: 0 1rem; }
    @media screen and (max-width: 457px) {
      .cta-buttons .btn {
        max-width: 100%;
        width: 25rem;
        margin: 1rem 0;
        padding: 1.2rem 2rem; } }

.flex {
  display: flex; }

.dir-col {
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.showcase {
  height: 100vh;
  background-image: url("../../images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .showcase .logo {
    width: 10rem; }
  .showcase .intro-text {
    margin: 3rem auto 4rem; }
  .showcase h1 {
    color: #4c545d;
    font-weight: 600; }
    @media screen and (max-width: 400px) {
      .showcase h1 {
        font-size: 3rem; } }
  .showcase p {
    color: #9fabb2; }

.features {
  position: relative; }
  @media screen and (min-width: 768px) {
    .features .lg-full-width {
      max-width: 100%;
      padding: 0 0; } }
  .features .grid {
    align-items: center;
    gap: 7rem;
    margin-top: 8rem; }
    @media screen and (max-width: 992px) {
      .features .grid {
        grid-template-columns: 1fr;
        text-align: center; } }
  .features .image-computer {
    display: block;
    width: 100%;
    object-fit: cover;
    transform: translateX(-4rem); }
    @media screen and (max-width: 1200px) {
      .features .image-computer {
        height: 100%;
        transform: scale(1.1); } }
    @media screen and (max-width: 992px) {
      .features .image-computer {
        max-width: 100%;
        width: 50rem;
        margin: 0 auto;
        transform: scale(1); } }
  .features .feature-list {
    max-width: 50rem;
    padding-right: 7rem; }
    @media screen and (max-width: 1200px) {
      .features .feature-list {
        max-width: 80rem;
        padding-left: 1.5rem; } }
    @media screen and (max-width: 992px) {
      .features .feature-list {
        width: 100%;
        max-width: 45rem;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0; } }
    .features .feature-list p {
      font-size: 1.6rem; }

.clipboard .intro-text {
  margin-top: 2rem; }

.clipboard .image-device {
  display: block;
  width: 100%;
  max-width: 76rem;
  margin: 8rem auto 0; }

.tools .grid {
  text-align: center;
  margin-top: 8rem; }
  @media screen and (max-width: 768px) {
    .tools .grid {
      grid-template-columns: 1fr; } }

@media screen and (max-width: 768px) {
  .tools .tool:nth-child(2) {
    margin: 4rem 0; } }

.tools .tool-header {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.tools .tool-icon {
  align-self: center; }

.tools .tool-description {
  margin-top: 2rem;
  font-size: 1.6rem; }

.partners {
  padding: 15rem 0 10rem; }
  .partners .flex {
    width: 100%;
    flex-wrap: wrap; }
    .partners .flex .partner-logo {
      display: block;
      max-width: 100%;
      width: 12.5rem;
      margin: 0 3rem 5rem; }

.download {
  padding-bottom: 17rem; }
  @media screen and (max-width: 400px) {
    .download .intro-text h1 {
      max-width: 30rem;
      margin: 0 auto 2rem; } }

.footer {
  background-color: #f4f5f6;
  padding: 4rem 0; }
  .footer .grid-3 {
    grid-template-columns: 15rem 2fr 1fr;
    gap: 5rem; }
    @media screen and (max-width: 992px) {
      .footer .grid-3 {
        grid-template-columns: 1fr;
        justify-items: center; } }
  .footer .footer-logo img {
    display: block;
    width: 5rem; }
  .footer .footer-nav {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 7rem; }
    @media screen and (max-width: 768px) {
      .footer .footer-nav {
        grid-template-columns: 1fr;
        gap: 0; } }
    @media screen and (max-width: 768px) {
      .footer .footer-nav li {
        text-align: center; } }
    .footer .footer-nav a {
      display: inline-block;
      color: #4c545d;
      font-size: 1.7rem;
      margin-bottom: 1rem; }
      .footer .footer-nav a:hover {
        color: #26baa4;
        transition: 0.2s ease; }
      @media screen and (max-width: 992px) {
        .footer .footer-nav a {
          margin-bottom: 2rem; } }
      @media screen and (max-width: 400px) {
        .footer .footer-nav a {
          font-size: 1.6rem; } }
  .footer .social {
    justify-self: end;
    align-self: center;
    display: flex; }
    @media screen and (max-width: 992px) {
      .footer .social {
        justify-self: center; } }
    .footer .social .social-media-icon:hover .fab {
      color: #26baa4;
      transition: 0.2s ease; }
    .footer .social .social-media-icon .fab {
      font-size: 2.5rem;
      color: #4c545d; }
