// Color variables
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

// Typography
$font-family-sans-serif: "Bai Jamjuree", sans-serif;
$font-weight-base: 400;
$font-weight-bold: 600;
